{% extends 'base.html' %}
{% load static %}
{% block content %}
        <!-- Masthead-->
        <header class="masthead">
            <div class="container">
                <div class="masthead-heading text-uppercase">Seja bem vindo ao nosso sommelier digital!</div>
                <div class="masthead-subheading">Antes de mais nada, me conta...</div>
                <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="{% url 'listavinhosrefrigerados' %}">Quero beber aqui</a>
                <div class="masthead-subheading">ou</div>
                <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="{% url 'listavinhos' %}">Quero levar p/casa</a>
            </div>
        </header>
{% endblock %}