{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'partials/navbar.html' %}
<h1 class="h1-vinho">Escolha o vinho que você deseja...</h1>
        {% for chave, nomeVinho in nomeVinho.items %}
        <div class="card" style="width: 17.4rem;">
            <img class="card-img-top" src="{% static 'assets/img/vinhos/vinho-3.png' %}" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">{{nomeVinho}}</h5>
              <p class="card-text">Vinho Rapariga da Quinta Colheita Seleccionada Alentejo Branco.</p>
              <a href="#" class="btn btn-primary btn-m">Quero esse!</a>
            </div>
          </div>
          {% endfor %}
{% endblock %}