{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'partials/navbar.html' %}
        <div class="card" style="width: 17.4rem;">
            <img class="card-img-top" src="{% static 'assets/img/vinhos/vinho-3.png' %}" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Vinho Rapariga</h5>
              <p class="card-text">Vinho Rapariga da Quinta Colheita Seleccionada Alentejo Branco.</p>
              <a href="#" class="btn btn-primary btn-m">Quero esse!</a>
            </div>
          </div>
          <div class="card" style="width: 17.4rem;">
            <img class="card-img-top" src="{% static 'assets/img/vinhos/vinho-3.png' %}" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Vinho Rapariga</h5>
              <p class="card-text">Vinho Rapariga da Quinta Colheita Seleccionada Alentejo Branco.</p>
              <a href="#" class="btn btn-primary btn-m">Quero esse!</a>
            </div>
          </div>
          <div class="card" style="width: 17.4rem;">
            <img class="card-img-top" src="{% static 'assets/img/vinhos/vinho-3.png' %}" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Vinho Rapariga</h5>
              <p class="card-text">Vinho Rapariga da Quinta Colheita Seleccionada Alentejo Branco.</p>
              <a href="#" class="btn btn-primary btn-m">Quero esse!</a>
            </div>
          </div>
{% endblock %}